a:link {
    color: rgb(234,211,255);
}

a:visited{
    color:rgb(208,161,245);
}

a:hover {
    color:rgb(239,225,251);
}

body {
    background-color: black;
}

h1 {
    font-size: 2em;
    margin: 0%;
    padding: 0.5em;
}

h2 {
    margin:0%;
    padding-left: 5%;
}

#headDiv {
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(185, 231, 188);
    padding-left: 5%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 1px solid black;
}

#mainDiv {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
    padding-top: 1%;
    background-color: rgb(185, 231, 188);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    flex-direction: row;
}

#inputDiv {
    background-color: rgb(185, 231, 188);
    border-radius: 15px;
    min-width: 60%;
    border-right: 1px solid black;
    padding-left: 5%;
}

#encounterDiv {
    background-color: rgba(245, 245, 245, 0.5);
    padding: 1em;
    border-radius: 1em;
}

#npcPartyText {
    background-color: rgba(245, 245, 245, 0.5);
    padding: 0.5em;
    border-radius: 1em;
    margin-top: 1em;
}

#regionAndTime {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

label {
    padding-top: 1em;
}

.fancy-checkbox {
    background-color: rgba(119, 119, 119, 0.2);
    padding: 1em;
    margin-left: 0.5em;
    border-radius: 5px;
}

.fancy-checkbox:hover {
    scale : 1.1;
    box-shadow: 2px 2px 5px;
}

.fancy-checkbox input[type=checkbox],
.fancy-checkbox .checked {
    display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}


#sources {
    font-size: .75em;
}

p {
    font-size: 1em;
}

select {
    padding: 1em;
    font-size: 1em;
    border: 0px;
    background-color: rgba(119, 119, 119,0.1);
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.nightButton {
    color:red;
    box-shadow: 0px 0px 5px darkred;
}

.nightButton:hover {
    box-shadow: 2px 2px 5px darkred, 0px 0px 10px orangered, -2px -2px 5px orange;
}

input:hover {
    background-color: rgba(119, 119, 119, 0.1);
    box-shadow: 2px 2px 5px;
    scale: 1.1;
}

form {
    font-size: 1em;
}

input[type="button"] {
    background-color: rgba(119, 119, 119, 0.2);
    border: 0;
    margin: 0.2em;
    padding: 1em;
    font-size: 1em;
    border-radius: 5px;
}

input:active {
    background-color: rgba(119, 119, 119, 0.4);
}

#npcStatBlock {
    max-width: 300px;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    h1,h2 {
        padding:0%;
    }
    #headDiv {
        margin-left: 0%;
        margin-right: 0%;
    }
    #mainDiv {
        margin-left: 0%;
        margin-right: 0%;
        flex-direction: column;
        padding-left: 0%;
    }
    #inputDiv {
        border: none;
        padding-left: 0%;
    }
    #encounterDiv {
        padding-left: 0%;
    }
    input[type="button"] {
        flex-direction: column;
        min-width: 100%;
        margin: 0%;
        border-bottom: 1px solid black;
    }
    #dayEncounter, #nightEncounter {
        margin-left: 0%;
    }
    input:hover {
        scale: 1;
    }
    .fancy-checkbox {
        margin-left: 5px;
        border-bottom: 1px solid black;
    }
    form {
        margin: 0;
    }
    select {
        padding: 1em;
    }
}

@media only screen and (min-width: 600px) {
    #mainDiv {
        margin-left: 0%;
        margin-right: 0%;
    }
    #headDiv {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media only screen and (min-width: 700px) {
    #mainDiv {
        margin-left: 5%;
        margin-right: 5%;
    }
    #headDiv {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 800px) {
    #mainDiv {
        margin-left: 10%;
        margin-right: 10%;
    }
    #headDiv {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 992px) {
    #mainDiv {
        margin-left: 15%;
        margin-right: 15%;
    }
    #headDiv {
        margin-left: 15%;
        margin-right: 15%;
    }
}
